{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="container">

        <div class="content">
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div id="register-form">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            <div class="alert-danger" style="border-radius: 5px">
                                {{ form_errors(form.name) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {{ form_label(form.accesses) }}
                            {{ form_widget(form.accesses) }}
                            <div class="alert-danger" style="border-radius: 5px">
                                {{ form_errors(form.accesses) }}
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" tabindex="4" class="form-control btn btn-success" value="Save">
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}