{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="container">

        <div class="content">
            <br>
            <a class="btn btn-info" href="{{ path('app.admin.user.construct') }}">Create</a>
            <br>
            <br>
            <div class="row divtable" style="font-weight: bold">
                <div class="col-md-3">Username</div>
                <div class="col-md-3">Email</div>
                <div class="col-md-3">Access Roles</div>
                <div class="col-md-1">Edit</div>
                <div class="col-md-1">Delete</div>
            </div>
            {% for user in users %}
                <div class="row divtable">
                    <div class="col-md-3">{{ user.username }}</div>
                    <div class="col-md-3">{{ user.email }}</div>
                    <div class="col-md-3">
                        {% for role in user.getAccessRoles %}
                            <a href="{{ path('app.admin.role.construct', {'role': role.id}) }}">{{ role }}</a>
                            <br>
                        {% endfor %}
                    </div>
                    <div class="col-md-1"><a href="{{ path('app.admin.user.construct', {'user': user.id}) }}">Edit</a></div>
                    <div class="col-md-1"><a href="{{ path('app.admin.user.delete', {'user': user.id}) }}">Delete</a></div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}